# Clustering Group of Machines

### Dataset Used - 
 http://gwa.ewi.tudelft.nl/datasets/gwa-t-13-materna

In [1]:
#connect to drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#unzip the data file
!unzip -q '/content/drive/My Drive/Datasets/GWA-T-13_Materna-Workload-Traces.zip'

In [3]:
#import libraries
import pandas as pd
import glob

In [4]:
#List of input data folder i.e. Materna-Trace-1, Materna-Trace-2, Materna-Trace-3
Materna_Traces = ['/content/GWA-T-13_Materna-Workload-Traces/Materna-Trace-1', 
        '/content/GWA-T-13_Materna-Workload-Traces/Materna-Trace-2',
        '/content/GWA-T-13_Materna-Workload-Traces/Materna-Trace-3']

In [9]:
#function to read the input data
def readInputData(paths):
  #iterate each data folder
  for path in paths:
    #All csv files in current data folder
    all_files = glob.glob(path + "/*.csv")
    
    data = []
    for filename in all_files:
        #read each csv file
        df = pd.read_csv(filename, delimiter=';', index_col=None, header=0)
        #append the data
        data.append(df)
    #merge the data and make dataframe
    dataframe = pd.concat(data, axis=0, ignore_index=True)
  return dataframe

In [11]:
#call the function
inputData = readInputData(Materna_Traces)

(4167978, 13)
(4510858, 13)
(5329730, 13)

In [14]:
 #first 5 rows of data
 inputData.head()

             Timestamp  ...  Network transmitted throughput [KB/s]
0  04.01.2016 00:00:00  ...                                      5
1  04.01.2016 00:05:00  ...                                      5
2  04.01.2016 00:10:00  ...                                      5
3  04.01.2016 00:15:00  ...                                      5
4  04.01.2016 00:20:00  ...                                      5

[5 rows x 13 columns]

In [15]:
#number of rows and columns in data
inputData.shape

(5329730, 13)